html { 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.about-class {
	background: url(faberge.jpeg) no-repeat center center fixed;
}

.main-class {
	background: url(alien-tech.jpg) no-repeat center center fixed;
}

div {
	font-family: Helvetica
}

span {
	color: black;
}

a {
	color: black;
	text-decoration: none;
}

.main-board {
	margin: 50px 10px 10px 50px;
	background-color: white;
	max-width: 350px;
	min-height: 300px;
	border-color: grey;
	border-width: 7px;
	border-radius: 6px;
	border-style: solid;
	display: block;
}

.inner-div {
	padding: 3px 3px 3px 3px;
}

.title-board {
	font-size: 40px;
}

.home-button {
	display: block;
	float: left;
	padding: 3px 3px 3px 3px;
	margin: 1px 1px 1px 1px;
	border-width: 1px;
	border-color: grey;
	border-style: solid;
}