html { 
  background: url(alien-tech.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
	font-family: Helvetica
}

span {
  color: black;
}

.main-board {
	margin: 50px 10px 10px 50px;
	background-color: white;
	max-width: 350px;
	min-height: 300px;
	border-width: 2px;
	border-color: grey;
	border-width: 7px;
	border-radius: 6px;
	border-style: solid;
	display: block;
}

.inner-div {
	padding: 3px 3px 3px 3px;
}

.title-board {
	font-size: 40px;
}