/* root css doc controlling all style on the site  */

:root {
    --main-color: #818893;
}

div {
    font-family: Helvetica
}

span {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

html {
    background: url(./assets/alien-tech.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-board {
    margin: 50px 10px 10px 50px;
    background-color: white;
    border-color: var(--main-color);
    border-width: 12px;
    border-radius: 7px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    max-width: 445px;
    min-height: 400px;
    justify-content: space-between;
}

.title-section {
    font-size: 56px;
    text-align: center;
}

.list-section {
}

.nav-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-section {
    margin: 40px 0px 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-button {
    padding: 4px 4px 4px 4px;
    margin: 3px 3px 3px 3px;
    border-width: 2px;
    border-radius: 2px;
    border-color: var(--main-color);
    border-style: solid;
    max-width: 70px;
    min-width: 70px;
    text-align: center;
}

.main-button {
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    margin: 10px;
    border-width: 5px;
    border-radius: 5px;
    border-color: var(--main-color);
    border-style: solid;
    text-align: center;
    background-color: white;
}

.react-link {
    font-size: 35px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    line-height: 140px;
}

.text-section {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

